<form action="/" methods="POST" enctype="multipart/form-data">
  <h3>Upload Profile Photo</h3>
  <input type="file" name="uploadFile" accept="image/*" />
  <input type="submit" class="btn btn-primary" />
</form>

<div class="profile-card">
  <% if (row) { %>
    <% if (row.profile_image) { %>
      <% console.log(row.profile_image) %>
      <image class="card-image" src="<%= row.profile_image %>" loading="lazy" alt="DB User Profile" />
    <% } else { %>
      <image class="card-image" src="/images/default.jpg" loading="lazy" alt="Def User Profile" />
    <% } %>
  <% } %>
  
  <h1 class="card-title"><%= row.name %></h1>
  <div class="card-job"><%= row.job_title %></div>
  <p class="card-about"><%= row.job_description %></p>
  <button type="button" class="btn btnPrimary">View Profile</button>
</div>