.entry {
  background-color: palegoldenrod;
}

p.username {
  font-style: italic;
}

hr.solid{
  border-top: 3px solid #bbb;
}

body {
  padding: 50px;
  background-color: beige;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#menu {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 12px;
  color: #888;
}

#menu .name.after {
  content: ' -';
}

#menu a {
  text-decoration: none;
  margin-left: 5px;
  color: black;
}